<pre>
         page : <input  type="number" 
                        [ngModel]="page()"
                        (ngModelChange)="page.set($event)"
                        />
    nbParPage : <input  type="number" 
                        [ngModel]="nbParPage()"
                        (ngModelChange)="nbParPage.set($event)"
                        />
</pre>

<app-filtre-etablissement
    (filtre) = "filtreCourant.set($event)"
    ></app-filtre-etablissement>

<app-table-etablissements
    [data]="colleges()"
    [page] = "page()"
    (pageChange) = "page.set($event)"
    [nbParPage]="nbParPage()"
    ></app-table-etablissements>